@model SenDeOku.Models.CategoryAddModel

@{
    Layout = "_LayoutAdmin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menü Kategorisi Ekle</title>
</head>
<body>

    <h4>Menü Kategorisi Ekle</h4>
    <hr />
    <div class="container">
        <form asp-action="MenuEkle" method="post" class="row d-flex justify-content-center" enctype="multipart/form-data">
            <div class="col-md-4">
                <div>
                    <div class="form-group">
                        <label asp-for="Category.Name" class="control-label">Kategori Adı:</label>
                        <input asp-for="Category.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Ekle" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="col mb-4">

            </div>
        </form>
        <a><br /></a>
        <a><br /></a>
        <a><br /></a>
        <a><br /></a>
        <a asp-action="MenuIslemleri" style="color:red">Geri Dön</a>
    </div>
</body>
</html>
