@model SenDeOku.Models.SliderAddModel

@{
    Layout = "_LayoutAdmin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Slayt Fotoğrafı Düzenle</title>
</head>
<body>

    <h4>Slayt Fotoğrafı Düzenle</h4>
    <hr />
    <div class="container">
        <form asp-action="SlaytDuzenle" method="post" class="row d-flex justify-content-center" enctype="multipart/form-data">
            <input type="hidden" asp-for="Slider.SliderID" value="@Model.Slider.SliderID" />
            <div class="col mb-4">
                <div class="form-group">
                    <label asp-for="Slider.Name" class="control-label">Slayt Adı:</label>
                    <input asp-for="Slider.Name" class="form-control" />
                </div>
                <img src="~/mydoc/img/assets/slider/@Html.DisplayFor(model => model.Slider.Photo)" width="800" height="400" id="ImageAdd" />
                <input class="form-control" type="file" id="ImageFileName" name="ImageFileName" value="Dosya Seç..." width="400" height="50" />
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group pull-right">
                            <input type="submit" style="background-color:dimgray" value="Düzenle" class="btn btn-primary float-right" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <a><br /></a>
        <a><br /></a>
        <a><br /></a>
        <a><br /></a>
        <a asp-action="MenuIslemleri" style="color:red">Geri Dön</a>
    </div>
</body>
</html>
