@model SenDeOku.Models.PublisherAddModel

@{
    Layout = "_LayoutAdmin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yayınevi Ekle</title>
</head>
<body>

    <h4>Yayınevi Ekle</h4>
    <hr />
    <div class="container">
        <form asp-action="YayineviEkle" method="post" class="row d-flex justify-content-center" enctype="multipart/form-data">
            <div class="col mb-4">
                <div class="form-group">
                    <label asp-for="Publisher.Name" class="control-label">Yayınevi Adı:</label>
                    <input asp-for="Publisher.Name" class="form-control" />
                </div>
                <img src="~/mydoc/img/assets/noimg.jpg" width="400" height="200" id="ImageAdd" />
                <input class="form-control" type="file" id="ImageFileName" name="ImageFileName" value="Dosya Seç..." width="250" height="50" />
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group pull-right">
                            <input type="submit" style="background-color:dimgray" value="Ekle" class="btn btn-primary float-right" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <a><br /></a>
        <a><br /></a>
        <a><br /></a>
        <a><br /></a>
        <a asp-action="YayineviIslemleri" style="color:red">Geri Dön</a>
    </div>
</body>
</html>
